## AAPL

### Gives an idea on how to convert data to plottable format and then convert to json file which will be used to plot

In [4]:
#Import libraries
import pandas as pd
import datetime as dt

#Read csv file into dataframe and parse the 'Date' Column as a datetime object
df = pd.read_csv("data/AAPL.csv", parse_dates=['Date'])
df.head()

        Date      Open      High       Low     Close  Adj Close     Volume
0 1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100751  469033600
1 1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095495  175884800
2 1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088485  105728000
3 1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090676   86441600
4 1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093304   73449600

In [5]:
#Drop the 'Adj Close' column
df.drop('Adj Close', axis='columns', inplace=True)
df.head()

        Date      Open      High       Low     Close     Volume
0 1980-12-12  0.128348  0.128906  0.128348  0.128348  469033600
1 1980-12-15  0.122210  0.122210  0.121652  0.121652  175884800
2 1980-12-16  0.113281  0.113281  0.112723  0.112723  105728000
3 1980-12-17  0.115513  0.116071  0.115513  0.115513   86441600
4 1980-12-18  0.118862  0.119420  0.118862  0.118862   73449600

In [6]:
#Convert the date to a datetime object (gets converted to a specialised type of datetime object)
df['Date'] = pd.to_datetime(df['Date'])
df.Date.dtype

dtype('<M8[ns]')

In [7]:
#Select Data from a specific date range
# from pytz import utc
# df_2020 = df[df['Date'] > dt.datetime(2019, 12, 31)]

#Reset Indexing so index starts from 0 and it not duplicated
# df_2020.reset_index(inplace=True, drop=True)
# df_2020

In [8]:
#Convert date to epoch datetime format
df['Date'] = (df['Date'] - dt.datetime(1970,1,1)).dt.total_seconds()
df.head()

          Date      Open      High       Low     Close     Volume
0  345427200.0  0.128348  0.128906  0.128348  0.128348  469033600
1  345686400.0  0.122210  0.122210  0.121652  0.121652  175884800
2  345772800.0  0.113281  0.113281  0.112723  0.112723  105728000
3  345859200.0  0.115513  0.116071  0.115513  0.115513   86441600
4  345945600.0  0.118862  0.119420  0.118862  0.118862   73449600

In [9]:
#Check type as we want a numeric type so we can plot it later
df.Date.dtype

dtype('float64')

In [10]:
#Format for plotting requires specific size for date so multiply by 1000
df['Date'] = df['Date']*1000
df.head()

           Date      Open      High       Low     Close     Volume
0  3.454272e+11  0.128348  0.128906  0.128348  0.128348  469033600
1  3.456864e+11  0.122210  0.122210  0.121652  0.121652  175884800
2  3.457728e+11  0.113281  0.113281  0.112723  0.112723  105728000
3  3.458592e+11  0.115513  0.116071  0.115513  0.115513   86441600
4  3.459456e+11  0.118862  0.119420  0.118862  0.118862   73449600

In [11]:
#Convert to json format and make sure its converted as json with arrays thus orient = values
df.to_json("data/AAPL.json", orient='values')