In [3]:
import yfinance as yf
import json

In [4]:
symbol = "GOOGL"
ticker = yf.Ticker(symbol)

In [5]:
ticker

yfinance.Ticker object <GOOGL>

In [7]:
pip install pynance

Collecting pynance
  Downloading pynance-1.0.0-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 14 kB/s  eta 0:00:011
Collecting mplfinance
  Downloading mplfinance-0.12.7a17-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 159 kB/s eta 0:00:011
Requirement already satisfied: matplotlib in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pynance) (3.4.2)
Requirement already satisfied: pandas in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pynance) (1.2.4)
Requirement already satisfied: pandas-datareader>=0.9.0 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pynance) (0.9.0)
Requirement already satisfied: numpy in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pynance) (1.20.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from matplotlib->pynance) (1.3.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from matplotlib->pynance) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from matplotlib->pynance) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from matplotlib->pynance) (8.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from matplotlib->pynance) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pandas->pynance) (2021.1)
Requirement already satisfied: requests>=2.19.0 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pandas-datareader>=0.9.0->pynance) (2.26.0)
Requirement already satisfied: lxml in /home/nvombat/anaconda3/lib/python3.8/site-packages (from pandas-datareader>=0.9.0->pynance) (4.6.1)
Requirement already satisfied: six>=1.5 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib->pynance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader>=0.9.0->pynance) (1.26.6)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /home/nvombat/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader>=0.9.0->pynance) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /home/nvombat/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader>=0.9.0->pynance) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/nvombat/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader>=0.9.0->pynance) (2021.5.30)
Installing collected packages: mplfinance, pynance
Successfully installed mplfinance-0.12.7a17 pynance-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pynance as pn

In [13]:
data = pn.data.get("googl", "2020", "2021")

In [14]:
data

               Open     High      Low    Close   Volume
Date
2020-12-31  1737.27  1757.50  1736.09  1752.64  1053479
2020-12-30  1765.00  1767.76  1728.00  1736.25  1051308
2020-12-29  1787.23  1788.47  1755.11  1757.76   986287
2020-12-28  1744.91  1787.00  1741.82  1773.96  1382537
2020-12-24  1729.00  1742.41  1724.35  1734.16   465638
...             ...      ...      ...      ...      ...
2020-01-08  1394.82  1411.85  1392.63  1405.04  1766274
2020-01-07  1400.46  1403.50  1391.56  1395.11  1726456
2020-01-06  1351.63  1398.32  1351.00  1397.81  2339343
2020-01-03  1348.00  1373.75  1347.32  1361.52  1170629
2020-01-02  1348.41  1368.68  1346.49  1368.68  1364265

[253 rows x 5 columns]

In [19]:
data = pn.data.get("googl", start="2021", end=None)
data

                Open       High        Low    Close   Volume
Date
2021-09-10  2884.250  2894.3700  2814.7550  2817.52  1841967
2021-09-09  2876.810  2886.2100  2863.5500  2870.82   765855
2021-09-08  2882.000  2888.0000  2860.0000  2873.82   917511
2021-09-07  2876.690  2891.3000  2872.3800  2885.61  1006595
2021-09-03  2861.610  2883.1000  2848.0100  2874.79   992718
...              ...        ...        ...      ...      ...
2021-01-08  1777.160  1799.3550  1761.2200  1797.83  1774226
2021-01-07  1726.760  1777.8200  1726.7600  1774.34  2096829
2021-01-06  1700.255  1743.9650  1696.1014  1722.88  2329401
2021-01-05  1725.090  1746.8300  1716.9000  1740.05  1017962
2021-01-04  1760.000  1762.4899  1707.1400  1726.13  1866195

[174 rows x 5 columns]

In [20]:
data["Close"][0]

2817.52